<footer>
    <form action="/post/<%= post._id %>/edit" method="GET">
        <button type="submit" id="edit-post-button">Edit Post</button>
    </form>
    <form action="/html/<%= post._id %>" method="GET">
        <button type="submit" id="send-html-button">Send HTML</button>
    </form>

</footer>