body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fef7e6;
    height: 50px;
    flex-shrink: 0;
    overflow: hidden;
}

header h1 {
    color: #24A590;
}

h1 {
    font-size: 2.3rem;

}

footer {
    height: 50px;
    flex-shrink: 0;
    width: 100%;
    background: #fef7e6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#edit-post-button {
    background: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}

#send-html-button {
    background: #34a853;
    color: white;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;

}

/*******************************
/          BLOG POST LAYOUT
/
******************************/

.blog-item-wrapper {
    max-width: 1200px;
}

.blog-item-wrapper .blog-item-top-wrapper {
    margin-bottom: 25px;
    width: 1200px !important;
}

.blog-item-inner-wrapper {
    max-width: 1200px !important;
    margin: 0 0 0 0 !important;
}


.blog-item-wrapper article.entry {
    padding: 2vw;
}

.container {
    margin-left: 10px;
    flex: 1;
    overflow-y: auto;
    max-width: 1000px;

    .card h2 {
        display: visible;

    }

    .card h2 {
        border-top: solid black 1px;
        max-width: 600px;
        padding-top: 20px;
        margin-top: 20px !important;
    }

    .recipe-video-container {
        margin: auto auto 10px 0;

        .recipe-video {
            display: block;
            margin: auto auto 15px 0;
            max-width: 600px;
        }

        .ig-link {
            font-size: 0.85rem;
            color: #0073e6;
            text-decoration: none;
            margin-left: 0;
        }
    }

    .recipe-image {
        max-width: 600px;
    }

    .recipe-image img {
        max-width: 600px;
        object-fit: contain;
    }

    .intro-paragraphs {
        margin-bottom: 10px;
    }

    h3 {
        margin: 0 0 0 0;
        font-size: 2.1rem;
    }

    ul {
        margin: 5px auto 10px auto !important;
        font-size: 1.05rem;
    }

    p {
        font-size: 1.05rem;
    }

    .instructions p {
        margin: 0 auto 15px 20px !important;
    }
}

.container:not(:only-child) {
    h2 {
        display: hidden;
    }
}


@media (max-width: 1024px) {
    .recipe-video {
        width: 100%;
    }

    .recipe-image {
        width: 100%;
        margin-top: 10px;
    }

    .blog-item-wrapper .blog-item-top-wrapper {
        margin-bottom: 25px;
        max-width: 100% !important;
    }
}


video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}