<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blog Post Creator</title>
</head>

<body>
    <h1>Blog Title</h1>
    <video> </video>
    <span> IG link</span>
    <p>Lorem ipsum</p>

    <h2>Ingredients</h2>
    <p>Lorem ipsum</p>

    <h2>Instructions</h2>
    <p>Lorem ipsum</p>

    <h2>Ingredients</h2>
    <p>Lorem ipsum</p>


    <form action="/post" method="POST" > 
        <div class="text-input-container">
            <label for="ig_url" hidden>IG link</label>
            <input type="text" class="form-control" name="ig_url" Placeholder="Paste an IG link...">
        </div>
        <div class="text-input-container">
            <label for="ig_url" hidden>IG link</label>
            <input type="text" class="form-control" name="ig_url" Placeholder="Paste an IG link...">
        </div>
        <div class="text-input-container">
            <label for="ig_url" hidden>IG link</label>
            <input type="text" class="form-control" name="ig_url" Placeholder="Paste an IG link...">
        </div>
    </form>
</body>

</html>