<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {css: 'postStyle', script: '', title: 'Post Preview'}) %>

<body>
    <%- include('../partials/header.ejs', {
        headerTxt: `Post Preview`, 
        button: null,
    }) %>
            
    <%- include('../partials/post.ejs', {publicPath: publicPath}) %>

    <%- include('../partials/footer.ejs')%> 


</body>

</html>